
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app/views/personal_transactions/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>

  <header class="header">

    <nav class="nav">
    <div class="identity">
      <a href="/"><img src="https://cdn.discordapp.com/attachments/382526426047315968/1075552121920966786/Vector.png"></a>
      <h1>Finacial Control</h1>
    </div>
      <%= link_to "Nova Transação", "/personal_transactions/new", class: "btn-add" %> 
    </nav>
      <a href="/personal_transactions/new"><i class="fa-solid fa-plus"></i></a>

  </header>

  <main>

    <section class="app">
      <div class="col">
        <div class="row entry">
          <h3>Entradas</h3>
          <img src="https://cdn.discordapp.com/attachments/382526426047315968/1075553069988851722/entry.png">
          <!-- usar funçao do ruby aqui! -->
          <h2>R$ <%= @sum %></h2>
        </div>
        <div class="row out">
          <h3>Saídas</h3>
          <img src="https://cdn.discordapp.com/attachments/382526426047315968/1075553070223736882/out.png">
          <!-- usar funçao do ruby aqui! -->
          <h2>R$ <%= @sumDif %></h2>
        </div>
        <div class="row liquid">
          <h3>Lucro</h3>
          <img src="https://cdn.discordapp.com/attachments/382526426047315968/1075553069779128350/liquid-cash.png">
          <!-- usar funçao do ruby aqui! -->
          <h2>R$ <%= @liquid %></h2>
        </div>
      </div>

      

      <div class="col-2">

        <div class="row-info">

          <% @personal_transactions.each do |personal_transaction| %>
            <ul class="transactions">
            <% if personal_transaction.title != "Salário" %>

                <img src="https://cdn.discordapp.com/attachments/382526426047315968/1075553070223736882/out.png">
                <li class="desc"><p><%= personal_transaction.description %></p></li>
                <li class="amount"><p>R$ <%= personal_transaction.amount %></p></li>
                <li class="title"><p><%= personal_transaction.title %></p></li>
                <li class="date"><p><%= personal_transaction.transaction_date %></p></li>

              <% else %>

                <img src="https://cdn.discordapp.com/attachments/382526426047315968/1075553069988851722/entry.png">
                <li><p><%= personal_transaction.description %></p></li>
                <li><p>R$ <%= personal_transaction.amount %></p></li>
                <li><p><%= personal_transaction.title %></p></li>
                <li><p><%= personal_transaction.transaction_date %></p></li>

            <% end %>
            </ul>
          <% end %>

        </div>
      </div>
    </section>

  </main>

</body>
