
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app/views/personal_transactions/style.css">
</head>

<body>

  <header class="header">

    <div class="identity">
      <a href="/"><img src="/app/assets/images/logo.svg"></a>
      <h1>Finacial Control</h1>
    </div>

    <nav class="nav">
      <button class="new-trans">Nova Transação</button>
    </nav>

  </header>

  <main>

    <section class="app">
      <div class="col">
        <div class="row">
          <h3>Entradas</h3>
          <button class="hero-btn"><img src="/app/assets/images/entry-trans.svg"></button>
          <!-- usar funçao do ruby aqui! -->
          <p><%= @sum %></p>
        </div>
        <div class="row">
          <h3>Saídas</h3>
          <button class="hero-btn"><img src="/app/assets/images/out-trans.svg"></button>
          <!-- usar funçao do ruby aqui! -->
          <p><%= @sumDif %></p>
        </div>
        <div class="row">
          <h3>Lucro</h3>
          <button class="hero-btn"><img src="/app/assets/images/liquid-cash.svg"></button>
          <!-- usar funçao do ruby aqui! -->
          <p><%= @liquid %></p>
        </div>
      </div>
      <div class="col">
        <div class="sub-col">
          <% @personal_transactions.each do |personal_transaction| %>
            <h2><%= personal_transaction.title %></h2>
            <p><%= personal_transaction.amount %></p>
          <% end %>
        </div>
      </div>
    </section>

  </main>

</body>
